.dropdown-menu {
  position: relative;
}

.setting-dropdown {
  position: absolute;
  right: 0;
  top: 105%;
  background-color: var(--primary-background-colour);
  width: 24rem;
  text-align: left;

  border: 3px solid;
  border-radius: 0.8em;
  padding: 0.5em 0.8em;
}

.setting-dropdown span {
  font-size: 2em;
}