.section-checkbox {
  appearance: none;
  -webkit-appearance: none;
  content: "";
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  outline: 3px solid var(--primary-text-colour);
  background-color: var(--primary-background-colour);
  color: var(--primary-text-colour);
  cursor: pointer;
  vertical-align: middle;
}

.section-checkbox:checked {
  background-color: var(--primary-accent-colour);
}

.section-checkbox:checked::after {
  content: "✔";
  display: block;
  color: var(--primary-text-colour);
  font-size: 2em;
  text-align: center;
  line-height: 18px;
  margin-top: 0.2em;
}


.section-title-input {
  font-size: 0.5em;
  padding: 0.2em;
  border: 0;
  border-bottom: 2px solid var(--primary-text-colour);
  background-color: var(--primary-background-colour);
  color: var(--primary-text-colour);
}