:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


:root {
  --primary-background-colour: #FFE5D9;
  --secondary-background-colour: #582630;

  --primary-text-colour: #000; 
  --secondary-text-colour: #FFE5D9;

  --primary-accent-colour: #9FD139;
  --primary-accent-colour-highlight: #AFE149;
  --secondary-accent-colour: #FE4A49;
  --secondary-accent-colour-highlight: #FF5A59;
  --tertiary-accent-colour: #2AB7CA;
  --tertiary-accent-colour-highlight: #3AC7DA;
}

[data-theme="dark"] {
  --primary-background-colour: #0D0520;
  --secondary-background-colour: #EFD9CE;

  --primary-text-colour: #EFD9CE; 
  --secondary-text-colour: #000;

  --primary-accent-colour: #de3c4b;
  --primary-accent-colour-highlight: #EE4c5b;
  --secondary-accent-colour: #07BEB8;
  --secondary-accent-colour-highlight: #17CEC8;
  --tertiary-accent-colour: #7A28CB;
  --tertiary-accent-colour-highlight: #8A38DB;
}

[data-theme="sunset"] {
  --primary-background-colour: #264653;
  --secondary-background-colour: #F4A261;

  --primary-text-colour: #FFF; 
  --secondary-text-colour: #000;

  --primary-accent-colour: #E9C46A;
  --primary-accent-colour-highlight: #F9D47A;
  --secondary-accent-colour: #2A9D8F;
  --secondary-accent-colour-highlight: #3AAD9F;
  --tertiary-accent-colour: #E76F51;
  --tertiary-accent-colour-highlight: #F77F61;
}

body {
  color: var(--primary-text-colour);
  background-color: var(--primary-background-colour);
  transition:background-color 0.5s ease, color 0.5s ease;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

a {
  font-weight: 500;
  color: var(--primary-accent-colour);
  text-decoration: none;
}

a:hover {
  color: var(--primary-accent-colour-highlight);
}

::selection {
    background: rgba(255, 255, 255, 0.3);
}
::-moz-selection {
    background: transparent;
}

/* html {
  color-scheme: dark light;
}


body {
  color: var(--primary-text-colour);
  background-color: var(--primary-background-colour);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
