services:
  api:
    build: ./api
    container_name: decent_retro_tool_api
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://localhost:5000/decent-retro-tool.api
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
    container_name: decent_retro_tool_client
    ports:
      - "3000:80"
    depends_on:
      - api
