.card-link-container .card-text {
    padding: 0 1em 0.5em 1em; 
}

.card-link {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.card-link:hover {
    transform: scale(1.1);
    color: var(--primary-text-colour);
}