.counter {
  display: flex;
  padding: 5px;
  margin-left: auto; 
  margin-bottom: 0;
} 

.counter-value {
  border: 3px solid;
  border-radius: 0.8em;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  width: 1.8em;
  line-height: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

span {
  text-align: center;
  margin: auto;
}