.counter {
  display: flex;
  padding: 10px;
} 

.counter-value {
  background-color: var(--primary-background-colour);
  border: 3px solid;
  border-color: var(--primary-text-colour);
  border-radius: 0.8em;
  padding: 0.6em 1.2em;
  margin: 0 0.6em;
  width: 2.4em;
  line-height: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

span {
  text-align: center;
  margin: auto;
}