.confirm-dialog {
  position: absolute;
  background: var(--primary-background-colour);
  border: 3px solid;
  border-color: var(--primary-text-colour);
  border-radius: 0.8em;
  font-size: 3em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 10em;
}

.confirm-dialog-btn-container {
  display: flex;
  padding: 5px;
  margin-left: auto; 
  margin-bottom: 0;
}

.confirm-dialog-msg-container {
  display: flex;
  margin-right: auto; 
  padding: 0.5em;
}

.confirm-dialog-btn {
  font-size: 0.5em;
  margin: 5px;
}

.confirm-dialog-btn-cancel:hover {
  background: var(--primary-accent-colour);
}

.confirm-dialog-btn-confirm:hover {
  background: var(--secondary-accent-colour);
}