.card {
  border: 3px solid;
  border-color: var(--primary-text-colour);
  border-radius: 0.8em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 12em;
}

.card-text {
    flex: 1; 
    background-color: transparent;
    border: none;
    font-size: 2em;
    margin: 5px;
    margin-bottom: 25px;
    text-align: center;
    color: inherit;
    resize: none;
    field-sizing: content;
}

.card-text:focus {
    outline:none!important;
}

.remove-button {
    align-self: flex-end;
    margin-right: 5px; 
    margin-top: 5px;
}