.section-config-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.section-config-dialog {
  position: absolute;
  background: var(--primary-background-colour);
  border: 3px solid;
  border-color: var(--primary-text-colour);
  border-radius: 0.8em;
  font-size: 3em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 10em;
}

.section-config-dialog>span {
  font-size: 0.8em;;
}

.section-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.5em 0;
  max-height: 300px;
  overflow-y: auto;
}

.section-config-dialog .counter {
  margin: 0 auto;
  font-size: 0.4em;
}