.breadcrumbs {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  border: 3px solid;
  border-radius: 0.8em;
  border-radius: 0.8em;
}

.breadcrumbs a {
  padding: 5px;
}

.breadcrumb-title-input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1em;
  padding: 0 5px;
  
  background: var(--primary-background-color);
  border: none;
  outline: none;
  field-sizing: content;
  width: auto;
  height: auto;
  max-width: 200px;
}

.title-edit-button {
  margin-left: 20px;
}