.not-found-main {
  font-size: 10em;
  color: var(--primary-accent-colour);
  user-select: none;
}

.not-found-info {
  font-size: 5em;
  color: var(--secondary-accent-colour);
  user-select: none;
}

.not-found-link {
  text-decoration: none;
  font-size: 5em;
  color: var(--primary-accent-colour);
  user-select: none;
}

.not-found-link:hover {
  color: var(--primary-accent-colour-highlight);
}