.breadcrumbs {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  border: 3px solid;
  border-radius: 0.8em;
  border-radius: 0.8em;
}

.breadcrumbs a {
  padding: 5px;
}